h2 {
  text-align: left;
}

.App {
  text-align: center;
   padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
button {
  display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out,color 0.25s ease-out;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #61b7dc;
    color: #fefefe;
}

button:hover,
button:focus {
      background-color: #3aa5d3;
    color: #fefefe;
}

button:active {
  background-color: #0062cc;
  border-color: #005cbf;
  color: #fff;
}
